<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ChatMapper">


    <select id="selectChat" resultType="Chat">
        select * from chat where (epmId = #{empId} or epmId1 = #{empId});
    </select>


    <insert id="insert" parameterType="Chat">
      INSERT INTO `driver`.`chat` ( `content`, `time`, `epmId` ,`epmId1`) VALUES ( #{content},  #{time},  #{epmId},#{epmId1});
    </insert>



</mapper>